* {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}


@media only screen and (min-width: 786px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        transition: .5s;
        height: calc(100% - 75px);
    }

    #header {
        grid-column: 1/4;
        height: 75px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,39,162,1) 36%, rgba(0,212,255,1) 100%);
    }

    #folder-finder {
        padding: 10px;
        grid-column: 1;
        grid-row: 2/3;
        height: calc(100vh - 145px);
        background: darkgrey;
    }


    .folder {
        margin: auto;
        background: white;
        height: 50px;
        transition: .25s;
    }

    .folder:hover {
        background: #70737c;
        color: white;
        transition: .25s;
    }

    .folder span {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        margin-left: 20px;
    }


    #folder-selected {
        margin: auto;
        background: #2c4bac;
        height: 50px;
        transition: .25s;
        color: white;
    }

    #folder-selected span {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        margin-left: 20px;
    }

    span.delete-folder {
        width: 50px;
        height: 50px;
        text-align: center;
        background: #e7e7e7;
        float: right;
    }

    #footer {
        height: 50px;
        grid-column: 1;
        background: #e5eaf8;
    }

    #footer button {
        height: 100%;
        width: 10em;
        margin-left: calc(50% - 5em);
    }

    #add-folder-wrapper {
        position: relative;
        top: calc(100% - 150px);
        background: #2c64b9;
    }

    #new-folder-form{
        display: grid;
        grid-template-columns: 1fr 0fr;
    }

    input#name {
        position: absolute;
        width: 100%;
        grid-column: 1;
        outline: 0;
    }

    #submit {
        grid-column: 2;
    }

    #add-folder {
        width: 100%;
        cursor: pointer;
        height: 100%;
        text-decoration: none;
        border: none;
        grid-column: 1;
        text-align: center;
        background: #211e7c;
        color: white;
        font-size: 20px;
        line-height: 50px;
    }

    #add-folder:hover {
        background: #2ebfeb;
        transition: .5s;
    }

    #add-folder-wrapper input#name {
        border: 0px;
        width: 70%;
        text-align: center;
        height: 50px;
    }

    #add-folder-wrapper input#submit {
        font-size: 2em;
        text-decoration: none;
        border: none;
        text-align: center;
        background: #211e7c;
        color: white;
        height: 50px;
        width: 50px;
    }


    #task-finder {
        padding: 10px;
        grid-column: 2;
        grid-row: 2/4;
        background: #0a0686;
    }

    #task-list-header {
        display: inline;
        grid-template-columns: 20fr 0fr;
        background: #2c5cb5;
        height: 50px;
    }

    #task-list-header form {
        display: inline;
    }

    .task-list {
        overflow: hidden;
        height: 100%;
    }

    #add-task-button {
        font-size: 2em;
        text-decoration: none;
        border: none;
        display: inline-block;
        grid-column: 1;
        text-align: center;
        background: #211e7c;
        color: white;
        width: 50px;
        height: 50px;
    }

    #add-task-button:hover {
        background: #2ebfeb;
        transition: .5s;
    }

    #add-task-button:focus {
        outline: 0;
    }

    #folder-header-name {
        font-size: 1.25em;
    }

    #add-task-name {
        margin-top: 0;
        height: 50px;
        border: none;
    }

    .task {
        display: grid;
        grid-template-columns: 1fr 50px;
        background: white;
        transition: .25s;
    }

    .task:hover {
        background: #70737c;
        color: white;
        transition: .25s;
    }


    span.delete-task {
        border: 0;
        line-height: 50px;
        text-align: center;
        background-color: #a99797;
        cursor: pointer;
    }

    span#task-selected.task-name {
        background: #3149a2;
    }

    #task-attribute-finder {
        grid-column: 3;
        grid-row: 2/4;
        background-color: #2eafe2;
        padding: 10px;
    }

    input.task-input {
        padding: 20px;
    }


}